*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

:root{
    --black: #100C08;
    --charcoal: #29241e;
    --old-burgundy: #43302E;
    --carmine: #960018;
    --madder: #CC3336;
    --vermillion: #e34234;
    --vivid-burgundy: #9F1D35;
    --burgundy: #800020;
    --lead-white: #f0ebe5;

}

body{
    width: 100%;
    min-height: 100vh;
}

.index-body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: none;
}


#left-side{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    transition: width 1s;
    background: radial-gradient(at top left, var(--black) 61%, var(--charcoal));
}

header{
    height: 6rem;
    padding: 3rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--black);
    transition: box-shadow 2s;
/*    box-shadow: 0 2px 8px 4px var(--lead-white);*/
}

header:hover{
    box-shadow: 0 2px 8px 4px var(--lead-white);
}

header h2{
    font-size: 2rem;
    color: var(--lead-white);
}

.diamond {
    height: 48px;
    width: 48px;
    color: var(--lead-white);
    font-size: 60px;
    background-color: var(--carmine);
    transition: 750ms;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border: 6px double var(--lead-white);
}

.index-diamond {
    margin-right: -150px;
    animation: diamondAnimate 2s linear 5s;
    animation-fill-mode: forwards;
}

.diamond:hover{
    background-color: var(--vermillion);
    box-shadow: 0 0 4px 4px var(--vermillion), inset 0 0 4px 4px var(--lead-white);
    font-size: 48px;
}

.diamond p{
    font-weight: 600;
    transform: rotate(-45deg);
    cursor: pointer;
}

@keyframes diamondAnimate {
    from {
        margin-right: -150px;
    }
    50% {
        margin-right: 0px;
    }
    75% {
        background-color: var(--vermillion);
        box-shadow: 0 0 4px 4px var(--vermillion), inset 0 0 4px 4px var(--lead-white);
    }
    to {
        background-color: var(--carmine);
        margin-right: 0px;
    }
}

main{
    padding: 2rem;
}

/*Side-bar on right*/

#right-side{
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: width 1s;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 0.1rem;
    /*background-image: linear-gradient(to right, var(--carmine), 80%, white);*/
    background-color: var(--carmine);
    border-left: 8px double var(--lead-white);
/*    background-color:antiquewhite;
    border-left: 1rem double white;*/
}

nav a{
    padding: 0.5rem;
    width: 70%;
    font-size: 2rem;
    color: var(--lead-white);
    background-color: var(--madder);
    border: 0.5rem double var(--lead-white);
    transition: background-color 0.5s;
}

nav a:hover{
    background-color: var(--vermillion);
}

/*footer*/

footer {
    padding: 2rem;
    color: var(--lead-white);
    font-variant: small-caps;
    opacity: 0;
    animation: footerAppear 3s linear 5s;
    animation-fill-mode: forwards;
}   

footer h2{
    display: inline;
    transition: 500ms;
}

footer h2:hover{
    text-shadow: 0 -4px 8px white;
}

#connect-links{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

#connect-links img {
    height: 32px;
    transition: 500ms;
}

#github-icon:hover{
    filter:drop-shadow(-16px 4px 4px white); 
}

#email-icon:hover {
    filter:drop-shadow(0 4px 4px white);  
}

#linkedin-icon:hover{
    filter:drop-shadow(16px 4px 4px white); 
}

@keyframes footerAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/*Index page*/

#main-message {
    height: 24rem;
    width: 36rem;
    border-radius: 0 128px;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: var(--charcoal);
    animation: borderAppear 3s linear 2s;
    animation-fill-mode: forwards;
}

@keyframes borderAppear {
    from{
/*        border-image: linear-gradient(0deg, var(--carmine), var(--lead-white),var(--vermillion)) 1;
        border-width: 12px;
        border-style: solid;*/
        opacity: 0;
    }
    33%{
/*        border-image: linear-gradient(50deg, var(--carmine), var(--lead-white),var(--vermillion)) 1;*/
        opacity: 1; 
    }
    66%{
/*        border-image: linear-gradient(100deg, var(--carmine), var(--lead-white),var(--vermillion)) 1;*/
    }
    to{
/*        border-image: linear-gradient(150deg, var(--carmine), var(--lead-white), var(--vermillion)) 1;
        border-width: 12px;
        border-style: solid;*/
        background-color: var(--lead-white);
    }
}

.mm-img-container{
    height: 100%;
    width: 100%;
    border-radius: 0 128px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(150deg, var(--carmine), var(--lead-white), var(--vermillion));
    background-color: var(--carmine);
    opacity: 0;
    transition: 800ms;
}

#mm-image{
    opacity: 0;
}

#mm-image:hover{
    opacity: 1;
}

#mm-img-text{
    max-width: max-content;
    position: relative;
    top: 50px;
    left: 25px;
    width: 150%;
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
    color: var(--lead-white);
}

#mm-img-text p{
    transform: rotate(330deg);
}

#personal-image{
    position: relative;
    top: 50px;
    left: 200px;
    height: 120%;
    border-radius: 16px;
    box-shadow: -34px -34px 26px -26px hsla(33, 15%, 14%, 1);
}

#mm-title{
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    animation: makeOpaque 5s linear, upDown 1s linear 4s;
}

#mm-title span{
    color: var(--carmine);
}

#mm-grid {
    width: 90%;
    list-style: none;
    font-size: 18px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 32px);
    align-items: center;
    row-gap: 4px;
}

.mm-descriptor {
    font-variant: small-caps;
    border-left: 4px solid var(--charcoal);
}

.descriptor-red{
    color: var(--carmine);
    border-left: 4px solid var(--carmine);
}

#d-1,
#d-2,
#d-3,
#d-4{
    padding-left: 4px;
}

#d-3{
    animation: makeOpaque 7s linear;
}

#d-2{
    animation: makeOpaque 8s linear;
}

#d-1{
    animation: makeOpaque 9s linear;
}

#d-4{
    animation: makeOpaque 10s linear;
}

#d-5{
    font-size: 24px;
    grid-column: 1/-1;
    border-left: none;
    animation: makeOpaque 12s linear, downUp 1s linear 9.6s;
}

#d-5 span{
    font-weight: bolder;
    font-size: 20px;
    animation: redEmphasis 1s linear 10.6s;
    animation-fill-mode: forwards;
}

@keyframes makeOpaque {
    from{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes upDown {
    from{
        transform: translate(-16px, -16px);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes downUp {
    from{
        transform: translate(-16px, 16px);
    }
    to{
        transform: translate(0,0);
    }
}

@keyframes redEmphasis {
    from{
        color: var(--charcoal);
    }
    50%{
        color: var(--vermillion);
        font-size: 28px;
    }
    to{
        color: var(--carmine);
        font-size: 24px;
    }
}

/*Projects page*/

main h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 3rem;
    color: var(--lead-white);
}

#project-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.project-box{
    height: 35rem;
    width: 90%;
    margin-bottom: 2rem;
    background-color: hsla(33, 16%, 14%, 0.6);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pb-left {
    border-radius: 96px 0 0 96px;
}

.pb-left .project-image{
    margin-right: 48px;
}

.pb-left .project-text{
    border-left: 4px solid var(--lead-white);
}

.pb-right{
    border-radius: 0 96px 96px 0;
    flex-direction: row-reverse;
    align-self: flex-end;
}

.pb-right .project-image{
    margin-left: 48px;
}

.pb-right .project-text{
    border-right: 4px solid var(--lead-white);
}

.project-image{
    height: 100%;
    flex: 2;
    opacity: 0;
    transition: ease-in 700ms;
}

.project-image img{
    width: 100%;
    height: 100%;
}

.project-text{
    height: 70%;
    color: var(--lead-white);
    font-variant: small-caps;
    font-size: 30px;
    padding: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.project-link-container button{
    margin: 0 8px;
    padding: 8px 12px;
    background-color: transparent;
    font-size: 24px;
    text-transform: uppercase;
    transition: ease-in-out 700ms;
}

.demo-btn{
    width: 96px;
    box-shadow: inset 0 0 0 0 var(--lead-white);
    border: none;
    border-bottom: 4px solid var(--carmine);
    color: var(--vermillion);
}

.demo-btn:hover{
    box-shadow: inset 96px 0 0 0 var(--vermillion);
    color: var(--lead-white);
    cursor: pointer;
}

.code-btn{
    box-shadow: inset 0 0 0 0 var(--vermillion);
    border: none;
    border-bottom: 4px solid var(--lead-white);
    color: var(--lead-white);
}

.code-btn:hover{
    box-shadow: inset 96px 0 0 0 var(--lead-white);
    color: var(--vermillion);
    cursor: pointer;
}