*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    background-color: hsl(12, 100%, 50%);*/
}

#left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 75%;
    padding-top: 0;
}

header{
    width: 100%;
    height: 8rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: blanchedalmond;
}

#scroll{
    flex: 10%;
}

.diamond {
    height: 5rem;
    width: 5rem;
    background-color: purple;
}

main{
    padding: 2rem;
}

#main-message {
    height: 20rem;
    width: 36rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: purple;
}

footer {
    padding: 2rem;
}

#connect-links{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

/*Side-bar on right*/

#right-side{
    flex: 20%;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background-color:antiquewhite;
    padding: 2rem;
}
